
button {
    cursor: pointer;
}

body {
    background-color: #121214;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('imagem/imagem.jpg');
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
}

.container {
    background-color: #121214;
    width: 90%;
    max-width: 800px;
    margin: auto;

    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;  
}
.next-question {
    margin-top: 32px;
}

.button {
    background-color: #4863f7;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 98px;
    padding: 0 32px;

    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(0.8);
}

.hide {
    display: none;
}

.correct {
    background-color: #049b48;
}

.incorrect {
    background-color: red;
}